
<div id="startProjectModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" id="closeProjectModal">&times;</button>
        <h3 class="modal-title">Start New Project</h3>
      </div>
      <div class="modal-body">
        <div id="project-status" class="alert alert-danger"></div>
        <div id="project-success">
          <%= image_tag("loading.gif", :alt => "rss feed") %>
        </div>

        <%= simple_form_for(Project.new, html: {id: 'project-form', multipart: true}) do |f| %>
          <%= f.error_notification %>

          <div class="form-group">
            <%= f.label :title, error: 'Username is mandatory, please specify one' %>
            <%= f.text_field :title, class: 'form-control', id: 'title-field' %>
          </div>

          <div class="form-group">
            <%= f.label :short_description, "Idea" %>
            <%= f.text_area :short_description, size: "15x5", id: 'description-field', class: 'form-control', required: 'true' %>
          </div>

          <div class="form-group">
            <%= f.label :country, "Location (Where is project located?)" %>
            <%= f.text_field :country, id: 'country-field', class: 'form-control' %>
            <i class="fa fa-map-marker" aria-hidden="true"></i>
          </div>

          <div class="form-group">
            <%= f.label :Project_Image %>
            <%= f.file_field :picture, required: true, id: 'upload_button', class: 'btn btn-primary' %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, class: "btn btn-primary normal-button", id: 'project-form-id' %>
          </div>

        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
  var modalteam = document.getElementById('startProjectModal');
  var spanteam = document.getElementById("closeProjectModal");
  spanteam.onclick = function () {
    $('#project-status').hide();
    $('#project-status').empty();
    $("#title-field").val("");
    $("#description-field").val("");
    modalteam.style.display = "none";
  }

  $(document).ready(function () {
    $(document).keydown(function (e) {
      if (e.keyCode == 27) {
        $('#project-status').hide();
        $('#project-status').empty();
        $("#title-field").val("");
        $("#description-field").val("");
        $("#startProjectModal").hide();
      }
    });

    $('#project-status').hide();
    $('#project-success').hide();
    $('#project-form').submit(function () {
      $("#project-form-id").attr("disabled", true);
      $('#project-status').html('');
      $('#project-status').hide();
      $('#project-success').show();
      event.preventDefault();
      $.ajax({
        url: $(this).attr('action'),
        type: "POST",
        dataType: "JSON",
        data: new FormData(this),
        processData: false,
        contentType: false,
      }).always(function (response) {
        $('#project-status').html("");
        $('#project-success').hide();
        $("#project-form-id").attr("disabled", false);
        $('#project-status').show();
        $('#project-status').html(response.responseText);
        if (response.status == 200) {
          $('#project-status').html(response.responseText + ". Redirecting  ...");
          $('#project-success').show();
          setTimeout(
              function () {
              }, 4000);
          window.location.href = "/projects/" + response.id + "/taskstab";
        }
        console.log(response);
      });
      return false;
    });
  });
</script>
