<header class="user-menu clearfix">
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">

       <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>
    <section class="top-bar-section">

      <ul class="title-area">
        <li>
          <%= link_to projects_path do %>
            Active projects
          <% end %>
        </li>
        <% if user_signed_in? %>
            <li>
              <a href="#" id="footer-startbtn"><strong>Start a Project</strong></a>
            </li>
        <% else %>

            <li>
              <a href="#" id="create-project-footer" data-reveal-id="sign-in-sing-up"> <strong>Start a Project</strong>
              </a>

            </li>

            <li>
              <a href="#" id="sign-in-footer" data-reveal-id="sign-in-sing-up" class="signup_buttons">
                Sign In
              </a>
            </li>
            <li>
              <a href="#" id="sign-up-footer" data-reveal-id="sign-in-sing-up" class="signup_buttons">
                Sign Up
              </a>
            </li>
        <% end %>
      </ul>
    </section>

    <section class="top-bar-section">
      <ul class="left">
        <li class="active">
          <%= link_to "<h4 style='color:white'>What is WeServe?</h4>".html_safe, projects_path, data: {no_turbolink: true} %>
        </li>
        <li class="active">
          <a href="javascript:void(0)"></a>
        </li>
        <li class="active">
          <%= link_to 'Terms of Use', pages_terms_of_use_path, data: { no_turbolink: true } %>
        </li>

        <li class="active">
          <%= link_to 'Privacy Policy', pages_privacy_policy_path, data: { no_turbolink: true } %>
        </li>

        <li class="active">
          <a href="javascript:void(0)">Contact</a>
        </li>

      </ul>
      <hr class="my_hr">
    </section>

    <section class="top-bar-section">
      <ul class="left">
        <li class="active" style="margin-left: 20px">
          <h1 style="font-weight:bold; color: white;">
            <% if user_signed_in? %>
                <%= link_to 'WeServe', projects_path %>
            <%else %>
                <%= link_to 'WeServe', root_path %>
            <% end %>
          </h1>
        </li>
        <li class="active">
          <h1 style="font-weight:bold; color: white;">2016</h1>
        </li>
      </ul>
    </section>
  </nav>
</header>
<br>


<script>
  var btnteam1 = document.getElementById("footer-startbtn");
  btnteam1.onclick = function () {
    modalteam.style.display = "block";
}

</script>

<!-- <link rel="stylesheet" href="/static/footer/css/foundation.css"> -->
<link rel="stylesheet" href="/static/footer/css/style.css">
<link href="https://opensource.keycdn.com/fontawesome/4.6.3/font-awesome.min.css" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Cuprum' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
<link href="http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css"/>
<link href="http://allfont.ru/allfont.css?fonts=roboto-condensed-light" rel="stylesheet" type="text/css"/>
<link href="http://allfont.ru/allfont.css?fonts=ds-narrow-extra-condensed-medium" rel="stylesheet" type="text/css"/>
<link href="http://allfont.ru/allfont.css?fonts=open-sans-bold" rel="stylesheet" type="text/css"/>
<script>
  $("#sign-in-footer").click(function () {
    debugger
    $("#Sign-in-div").css("background-color", "#35B8F4 ")
    $("#Sign-up-div").css("background-color", "white ")
    $("#Sign-in-div").css("color", "white ")
    $("#Sign-up-div").css("color", "black")
    $("#sing-up-show").hide();
    $("#sing-in-show").show();


  })
  $("#sign-up-footer ,#create-project-footer").click(function () {
    debugger

    $("#Sign-up-div").css("background-color", "#35B8F4")
    $("#Sign-in-div").css("background-color", "white ")
    $("#Sign-up-div").css("color", "white ")
    $("#Sign-in-div").css("color", "black")
    $("#sing-in-show").hide();
    $("#sing-up-show").show();

  })
</script>
