
<div class="landing-content">
  <div class="hero-banner">
    <%= image_tag("landing_hero.jpg") %>

    <div class="hero-promo">
      <div class="promo-wrapper">
      <h1>Turn your audience into a task force</h1>
      <p>Share your vision and your audience will make it happen</p>
      </div>
    </div>

    <div class="hero-start">
      <a data-toggle="modal" data-target="#startProjectModal">Start a Project</a>
    </div>
  </div>

  <div class="hiw-banner text-center">
    <div class="hiw-text">
      <h2>
        Keep control over the collaboration at any step, so your project reflects your own vision, and turn into a public leader
      </h2>
    </div>

    <div class="hiw-flow">
      <div class="row">
        <div class="col-md-4 col-md-4 col-sm-4 col-custom">
          <div class="row">
            <div class="col-md-5 col-md-5 col-sm-5 col-custom">
              <div class="flow-img">
                <%= image_tag("icons/group.png") %>
              </div>
              <div class="flow-text">
                <p>expand your idea into plan of action</p>
              </div>
            </div>
            <div class="col-md-2 col-md-2 col-sm-2 col-custom">
              <div class="flow-img pt15">
                <%= image_tag("icons/icon-arrow.png") %>
              </div>
            </div>
            <div class="col-md-5 col-md-5 col-sm-5 col-custom">
              <div class="flow-img">
                <%= image_tag("icons/project-task.png") %>
              </div>
              <div class="flow-text">
                <p>break your project down into task</p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-md-4 col-sm-4 col-custom">
          <div class="row">
            <div class="col-md-4 col-md-4 col-sm-4 col-custom">
              <div class="flow-img pt15">
                <%= image_tag("icons/icon-arrow.png") %>
              </div>
            </div>
            <div class="col-md-4 col-md-4 col-sm-4 col-custom">
              <div class="flow-img">
                <%= image_tag("icons/payment.png") %>
              </div>
              <div class="flow-text">
                <p>fund tasks</p>
              </div>
            </div>
            <div class="col-md-4 col-md-4 col-sm-4 col-custom">
              <div class="flow-img pt15">
                <%= image_tag("icons/icon-arrow.png") %>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-md-4 col-sm-4 col-custom">
          <div class="row">
            <div class="col-md-5 col-md-5 col-sm-5 col-custom">
              <div class="flow-img">
                <%= image_tag("icons/task-list.png") %>
              </div>
              <div class="flow-text">
                <p>complete tasks</p>
              </div>
            </div>
            <div class="col-md-2 col-md-2 col-sm-2 col-custom">
              <div class="flow-img pt15">
                <%= image_tag("icons/icon-arrow.png") %>
              </div>
            </div>
            <div class="col-md-5 col-md-5 col-sm-5 col-custom">
              <div class="flow-img">
                <%= image_tag("icons/task-check.png") %>
              </div>
              <div class="flow-text">
                <p>review tasks</p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="carousel-banner">
    <div class="landing-carousel">
      <div class="carousel-item">
        <%= image_tag("carousel/carousel_1.jpg") %>
        <div class="carousel-text">
          <div class="text-wrapper">
            <h1>Build your own lab</h1>
            <p>Bridge the gap between theory and action;<br>Publicize and expand your academic projects.</p>
            <div class="carousel-start">
              <a data-toggle="modal" data-target="#startProjectModal">Start a Project</a>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <%= image_tag("carousel/carousel_2.jpg") %>
        <div class="carousel-text">
          <div class="text-wrapper">
            <h1>Serve as a leader</h1>
            <p>Get things done with your audience;<br>Action brings legitimacy to what you stand for,<br>So you emerge as an independent leader.</p>
            <div class="carousel-start">
              <a data-toggle="modal" data-target="#startProjectModal">Start a Project</a>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <%= image_tag("carousel/carousel_3.jpg") %>
        <div class="carousel-text">
          <div class="text-wrapper">
            <h1>Create your Prototype</h1>
            <p>Build a team;<br>Finance tasks;<br>Test your business plan.</p>
            <div class="carousel-start">
              <a data-toggle="modal" data-target="#startProjectModal">Start a Project</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="wwd-banner">
    <div class="wwd-text">
      <h2>
        Things that Weserve does for you
      </h2>
    </div>

    <div class="wwd-flow">
      <div class="row-first">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 wwd-block">
            <%= image_tag("icons/icon-market.png") %>
            <h4>Market Validation</h4>
            <div class="intro">
              <p>
                &ndash;&nbsp;build an active community around a real story
              </p>
              <p>
                &ndash;&nbsp;get community feedback and improvement
              </p>
              <p>
                &ndash;&nbsp;analyse traffic on your project
              </p>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 wwd-block">
            <%= image_tag("icons/icon-group.png") %>
            <h4>Stimulate your Audience</h4>
            <div class="intro">
              <p>
                Turn your followers into actors, and increase trust and support to your project.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="row-second">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-4 wwd-block">
            <%= image_tag("icons/icon-inclusive.png") %>
            <h4>Inclusive</h4>
            <div class="intro">
              <p>
                WeServe brings contrasting people together in a unique efforts to achieve common goals.<br>
                Volunteers can refund the amount they earned towards a new task. People who cannot afford to volunteer may keep the money they earned.
              </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 wwd-block">
            <%= image_tag("icons/icon-corruption.png") %>
            <h4>Anti Corruption</h4>
            <div class="intro">
              <p>
                Build powerful actions for your community without having to belong to the ruling clubs, and without being bound by political or financial partisanship.
              </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 wwd-block">
            <%= image_tag("icons/icon-transparent.png") %>
            <h4>Transparency</h4>
            <div class="intro">
              <p>
                Projects are open for public reviews, and constant feedback. So your project is protected by the crowd and gains legitimacy.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="wwd-start">
      <a data-toggle="modal" data-target="#startProjectModal">Start a Project</a>
    </div>

  </div>

</div>


<script type="text/javascript">

  $(document).ready(function(){
    $('.landing-carousel').slick({
      slidesToScroll: 1,
      slidesToShow: 1,
      arrows: false,
      dots: true,
      autoplay: true,
      autoplaySpeed: 5000
    });
  });

</script>
