
<div id="fund-transfer-wallet" class="reveal-modal" data-reveal aria-labelledby="inviteTitle" aria-hidden="true" role="dialog">
  <div>
    <a class="close-reveal-modal" aria-label="Close">&times;</a>
    <div class="fund-do">
      <div class="row">
        <center><h4 >Transfer BTC to Any Wallet</h4></center>
        <center>  <div style="background-color: red ;font-size: large ;margin:0 3%"  id="response-from-wallet"></div></center>
        <div class="large-1 medium-1 small-0 columns"></div>
        <%= form_tag("/user_wallet_transactions/create", method: "post" ,remote:true ) do %>
            <center>   <div class="form-group" style="margin:0 3%">
              <label class="control-label" >Amount</label>
              <input type="text" id="wallet_transaction_amount" name="amount"  class="form-control" required="true" placeholder='Enter USD Amount to Send'/>
              <span id="wallet_btc"style="color: darkorange"></span>
            </div></center>
            <center><div class="form-group" style="margin:0 3%">
              <label class="control-label" >User Wallet</label>
              <input type="text" id="wallet_transaction_user_wallet" name="wallet_transaction_user_wallet"  required="true" class="form-control" placeholder='Please Enter Receiver Wallet Address' />
            </div></center>
            <div class="form-group" style="margin:0 3%">
                <button type="submit" class="  btn btn-primary btn-danger" id="save-wallet-teansaction" style="margin: 10px" value="save">Save</button>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>

  $('#wallet_transaction_amount').keypress(function(eve) {
    if(eve.which == 8 || eve.which == 0){
      return true;
    }
    if ((eve.which != 46 || $(this).val().indexOf('.') != -1) && (eve.which < 48 || eve.which > 57) || (eve.which == 46 && $(this).caret().start == 0) ) {
      document.getElementById("wallet_btc").innerHTML = '';
      var usd = document.getElementById("wallet_transaction_amount");
      var current_btc = '<%=  get_current_btc_rate  %>'
      document.getElementById("wallet_btc").innerHTML= usd.value+" USD = " +(usd.value/current_btc)+" BTC";
      eve.preventDefault();
    }

    // this part is when left part of number is deleted and leaves a . in the leftmost position. For example, 33.25, then 33 is deleted
    $('#wallet_transaction_amount').keyup(function(eve) {
      if($(this).val().indexOf('.') == 0) {    $(this).val($(this).val().substring(1));
      }
      document.getElementById("wallet_btc").innerHTML = '';
      var usd = document.getElementById("wallet_transaction_amount");
      var current_btc = '<%=  get_current_btc_rate  %>'
      document.getElementById("wallet_btc").innerHTML= usd.value+" USD = " +(usd.value/current_btc)+" BTC";

    });

  });

  $('#save-wallet-teansaction').click(function(){
    if ($("#wallet_transaction_user_wallet").val() != '' && $("#wallet_transaction_amount").val() != ''  ){
      $('#save-wallet-teansaction').disabled = true ;
      $('#response-from-wallet').html("");
    $('#response-from-wallet').html("Requesting ... please Wait ");}
  });

  $(".close-reveal-modal").click(function(){
    $('#response-from-wallet').html("");
  });

  $(".profile-title").hover(
    function() {
      $("#edit-profile-pencil").show();
    },
    function() {
      $("#edit-profile-pencil").hide();
    }
  )

  $('.profile-bio .best_in_place').focusin(function(){
    $("#bio-edit-pencil").hide();
    $("#bio-edit-save").show();
  });
  
  $('.profile-bio .best_in_place').focusout(function(){
    $("#bio-edit-save").hide();
    $("#bio-edit-pencil").show();
  });

</script>


<div class="profile-wrapper">
  <div class="profile-hero">
    <%= image_tag(@user.projects.first.picture) %>
    <div class="hero-promo">
      <div class="user-name">
        <% if (current_user && current_user.id == @user.id) %>
          <%= best_in_place @user, :name, :as => :input, activator: '#edit-profile-pencil', cancel_button: "Cancel", cancel_button_class: "btn btn-default button-margin-right", ok_button: "Save", ok_button_class: "btn btn-default button-margin-right" %>
          <a id="edit-profile-pencil" href="#" class="glyphicon glyphicon-pencil" data-toggle="tooltip" title="Edit"></a>
        <% else %>
          <%= @user.name %>
        <% end %>
      </div>
      <br>
      <div class="user-location">
        <i class="fa fa-map-marker" aria-hidden="true"></i> <%= @user.city %>
        <a href="javascript:void(0)" class="glyphicon glyphicon-pencil" data-toggle="tooltip" title="Edit"></a>
      </div>

      <div class="user-history">
        <table>
          <tr>
            <td>
              <span class="count"><%= @user.projects.count %></span>
              <span class="title">Project</br>Leads</span>
            </td>
            <td>
              <span class="count"><%= @user.completed_tasks_count %></span>
              <span class="title">Completed</br>Tasks</span>
            </td>
            <td>
              <span class="count"><%= @user.funded_projects_count %></span>
              <span class="title">Projects</br>Funded</span>
            </td>
          </tr>
        </table>
      </div>
    </div>

    <div class="user-portrait">
      <% if @user.picture? %>
        <%= image_tag(@user.picture) %>
      <% else %>
        <%= gravatar_for_user(@user)%>
      <%end%>

      <div class="user-social-links">
        <a href='<%= url_for("http://#{@user.facebook_url}") %>' target="_blank">
          <i class="fa fa-facebook" aria-hidden="true"></i>
        </a>
        <a href="<%= url_for("http://#{@user.linkedin_url}") %>" target="_blank">
          <i class="fa fa-linkedin" aria-hidden="true"></i>
        </a>
        <a href="<%= url_for("http://#{@user.twitter_url}") %>" target="_blank">
          <i class="fa fa-twitter" aria-hidden="true"></i>
        </a>
      </div>

      <div class="user-trans-btns">
        <a href="javascript:void(0)" class="" data-reveal-id="fund-transfer-wallet">
          <i class="fa fa-btc" aria-hidden="true"></i>Transfer coins
        </a>
        <a href="/group_messages/user_messaging?user_id=<%= @user.id %>" class="">
          <i class="fa fa-envelope-o" aria-hidden="true"></i>Message
        </a>
      </div>

    </div>
  </div>

  <div class="bio-wrapper">
    <h3>
      BIO
      <% if (current_user && current_user.id == @user.id) %>
        <i class="icon-save" id="bio-edit-save" style="display: none;"></i>
        <i class="fa fa-pencil" id="bio-edit-pencil"></i>
      <% end %>
    </h3>
    <p class="profile-bio">
      <%= best_in_place_if (current_user && current_user.id == @user.id), @user, :bio, :as => :textarea, activator: '#bio-edit-pencil', cancel_button: "Cancel", cancel_button_class: "button" %>
    </p>
  </div>

  <div class="profile-projects">
    <div class="projects-cards">
      <h3>Projects</h3>
      <div class="row padding-none">
        <% @user.projects.each do |project| %>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 mb30">
            <div class="project-card">

              <div class="card-img">
                <%= link_to taskstab_project_path(project) ,data: { no_turbolink: false } do%>
                  <%= image_tag(project.picture.url) %>
                <% end %>
                <div class="user-link">
                  <% if project.user.picture? %>
                    <%= image_tag(project.user.picture, size: "30x30") %>
                  <% else %>
                    <%= gravatar_for_user(project.user)%>
                  <%end%>
                  <%= link_to project.user.name, user_path(project.user)%>
                </div>

                <span class="favor-link">
                  <i class="fa fa-heart-o" aria-hidden="true"></i>
                </span>
              </div>

              <div class="title-banner">
                <%= link_to project.title, taskstab_project_path(project) ,data: { no_turbolink: false }%>
              </div>

              <ul class="info-banner">
                <li>
                  <i class="fa fa-map-marker" aria-hidden="true"></i>
                  <%= project.country %>
                </li>
              </ul>

              <div class="summary-banner mb20">
                <p>
                  <%= project.short_description%>
                </p>
              </div>

              <div class="progress-banner mb20">
                <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: <%= project.funded_percentages%>" >
                  </div>
                </div>
              </div>

              <div class="progress-report">
                <table>
                  <tr class="value">
                    <td><%= project.funded_percentages %></td>
                    <td><%= project.team_relations_string %></td>
                    <td><%= project.tasks_relations_string %></td>
                    <td>$<%= project.funded_budget %></td>
                  </tr>
                  <tr class="items">
                    <td>Funded</td>
                    <td>Team</td>
                    <td>Tasks</td>
                    <td>Raised</td>
                  </tr>
                </table>
              </div>

            </div>
          </div>
        <% end %>
      </div>
    </div>

  </div>

</div>


