<!-- Autocomplete tag is only used in this page -->
<%= javascript_include_tag "autocomplete-rails.js"%>

<main class="main-wrapper">
  <div class="project-wrapper">

    <div class="heading-banner">
      <div class="project-header">
        <h2>Browse Projects</h2>
        <%= paginate @featured_projects %>
      </div>

      <!-- <div class="search-box-wrapper pull-right">
        <%= form_tag projects_user_search_path , :method => :post , :remote => true , :id => 'search-form',:class => "search-project-box" do  %>
            <%= autocomplete_field_tag :title ,nil,autocomplete_user_search_projects_path , :placeholder =>"Search Causes, Places, or Keyword"%>
            <button type="button" name="" type="submit" >
              <i class="fa fa-search"></i>
            </button>
        <% end %>
      </div> -->
    </div>

    <div class="projects-cards"  id="search-results-show">
      <div id="error-message-show" style="background-color: red"> </div>
      <div class="row padding-none">
        <% @featured_projects.each do |project| %>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 mb30">
            <div class="project-card">

              <div class="card-img">
                <%= link_to taskstab_project_path(project) ,data: { no_turbolink: false } do%>
                  <%= image_tag(project.picture.url) %>
                <% end %>
                <div class="user-link">
                  <% if project.user.picture? %>
                    <%= image_tag(project.user.picture, size: "30x30") %>
                  <% else %>
                    <%= gravatar_for_user(project.user)%>
                  <%end%>
                  <%= link_to project.user.name, user_path(project.user)%>
                </div>

                <span class="favor-link">
                  <i class="fa fa-heart-o" aria-hidden="true"></i>
                </span>
              </div>

              <div class="title-banner">
                <%= link_to project.title, taskstab_project_path(project) ,data: { no_turbolink: false }%>
              </div>

              <ul class="info-banner">
                <li>
                  <i class="fa fa-map-marker" aria-hidden="true"></i>
                  <%= project.country %>
                </li>
              </ul>

              <div class="summary-banner mb20">
                <p>
                  <%= project.short_description%>
                </p>
              </div>

              <div class="progress-banner mb20">
                <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: <%= project.funded_percentages%>" >
                  </div>
                </div>
              </div>

              <div class="progress-report">
                <table>
                  <tr class="value">
                    <td><%= project.funded_percentages %></td>
                    <td><%= project.team_relations_string %></td>
                    <td><%= project.tasks_relations_string %></td>
                    <td>$<%= project.funded_budget %></td>
                  </tr>
                  <tr class="items">
                    <td>Funded</td>
                    <td>Team</td>
                    <td>Tasks</td>
                    <td>Raised</td>
                  </tr>
                </table>
              </div>
            </div>

          </div>
        <% end %>
      </div>
    </div>

    <div class="load-more">
      <button type="button">Load more</button>
    </div>

  </div>
</main>
<% if  @download_keys  %>
    <div id="backupkeys_popup" class="modal" style="display: block ;">
      <!-- Modal content -->
      <div class="modal-content" style="width: 50%">

        <h3>
          please wait we are creating your Wallet Backup Keys and
          Downloading  will be Starts Within 5 Second
          Please Save Your keys at save place  </h3>
      </div>

    </div>
    <script>
      window.setTimeout(function(){download_keys() },5000);
      function  download_keys(){
        window.location = "<%= user_wallet_transactions_download_keys_url %>";
        $("#backupkeys_popup").hide();
      }

    </script>
<% end %>