<%= stylesheet_link_tag 'social-share' %>
<%= javascript_include_tag 'social-share' %>

<div id="loading-mask1" class="modal" style="display: block">
  <!-- Modal content -->
  <div class="modal-content2" style="width:25%">
    <div class="fund-do">
      <div class="row">
        <center><h3>Loading...</h3></center>
        <center>  <%= image_tag "hourglass.gif", :style => "width : 80px;" %>
        </center>
      </div>
    </div>
  </div>
</div>
<script>
  window.onload = function() {
    $('#project-url').html(window.location.href);
    // <% if  session[:project_id] != nil %>

    // <%end%>
    $()
    document.getElementById("loading-mask1").style.display = "none";
  }

</script>

<div id="product-modal"></div>

<div id="Project-Invite-Model" class="reveal-modal" data-reveal aria-labelledby="inviteTitle" aria-hidden="true" role="dialog">
  <div>
    <a class="close-reveal-modal" aria-label="Close">&times;</a>
    <div class="fund-do">
      <div class="row">
       <center><h4>Invite People To Participate</h4></center>
        <div class="alert"  id="response"></div>
        <div class="large-1 medium-1 small-0 columns"></div>
        <%= form_tag(projects_send_project_email_path, remote: true, id:'send-project-email')  do %>
            <div class="large-10 medium-10 small-12 columns cold">
              <div class="row row-custom">
                <div class="large-8 medium-12 small-12 columns cold">
                  <input type="hidden" name="project_id" value="<%= @project.id rescue nil%>">
                  <%session[:idd] = @project.id  %>
                  <% session[:project_id] = nil %>
                  <input type="email" name="email" placeholder="E-mail address" class="add-email" id="guest-email" required>
                </div>
                <div class="large-4 medium-12 small-12 columns cold pl10">
                  <button class="round modal-btn1 btn-add normal-button" id="send-project-email-button" >Add / Invite</button>
                </div>
              </div>

              <div class="row" id="contacts">
                <div class="contact-importers" id ="tab">
                  <span >Import your contacts from
                    <span class="contact-importer">
                       <span class="loading-trigger" data-source="gmail"  id="gmail-icon">
                         <%= link_to image_tag("gmail.png", :alt => "Image Description", :class => "css"),  contacts_gmail_path %>
                         <a href="/contacts/gmail" class="loading-indicator email-import-btn gmail-icon">Gmail</a>
                       </span>
                    </span>
                    <span class="mini-divider"></span>
                       <span class="contact-importer">
                         <span class="loading-trigger" data-source="yahoo" id="yahoo">
                            <%= image_tag("yahoo.png" ,:class => "img_preview") %>
                            <a href="/contacts/yahoo" class="loading-indicator email-import-btn yahoo-icon">Yahoo! Mail</a>
                        </span>
                       </span>
                    <span class="mini-divider"></span>
                  </span>
                </div>
                <%unless session[:failure_contacts].blank? %>
                  <p id="response-failure"><%= session[:failure_contacts] %></p>
                <%end%>
                <%unless session[:success_contacts].blank? %>
                  <p  id="response-success"><%= session[:success_contacts] %></p>
                <%end%>
              </div>
              <%= session[:failure_contacts] = nil %>
              <%= session[:success_contacts] = nil %>

              <div class="or-container">
                <hr class="or-hr">
                <div id="or">or</div>
              </div>

              <div class="social-icons col-sm-6" data-title="<%= @task.title rescue nil%>" data-url="<%= task_path(@task.id) rescue nil%>" data-img="" data-desc="" data-popup="" data-via="" >
                <ul>
                  <li>
                    <div class="facebook-wrapper" >
                      <a href="#" data-site="facebook" title="Share to Facebook" onclick="return SocialShareButton.share(this);"><i class="fa fa-facebook"></i>
                        <span>Share on Facebook</span>
                      </a>
                    </div>
                  </li>
                  <li>
                    <div class="twitter-wrapper">
                      <a rel="nofollow " data-site="twitter" title="Share to Twitter" href="#" onclick="return SocialShareButton.share(this);">
                        <i class="fa fa-twitter"></i>
                        <span>Share on twitter</span>
                      </a>
                    </div>
                  </li>
                  <li>
                    <div class="pinterest-wrapper">
                      <a rel="nofollow " data-site="google_plus" class="social-share-button-google_plus" onclick="return SocialShareButton.share(this);" title="Share to Google+" href="#">
                        <i class="fa fa-google-plus"></i>
                        <span>Share on Google Plus</span>
                      </a>
                    </div>
                  </li>
                </ul>
                <div class="row share-link">
                  <hr />
                  <b>URL: </b><span id="project-url"></span>
                </div>
              </div>
            </div>
        <% end %>
        <div class="large-1 medium-1 small-0 columns"></div>
      </div>
    </div>
  </div>
</div>

<div class="md-overlay"></div>
<script type="text/javascript">
  $(document).ready(function(){
    document.getElementById("loading-mask1").style.display = "none";

    $( "#send-project-email" ).submit(function( ) {
      $('#response').empty();
      $('#response').html("loading...")
    });
    $( "#send-project-email-button" ).click(function( ) {
      $('#response').empty();
    });
    $('.btn_movecard').click(function(){
      var loading = document.getElementById('loading-mask1');
       loading.style.display = "block";
    //  $("#loading-mask1").show();

    });
    $( "#inviteclose" ).click(function( ) {
     $('#response').empty();
      $('#response-failure').empty();
      $("#response-success");
      $("#guest-email").val("");
    });
    $("#guest-email").keyup(function(){
      $('#response').empty();
      $('#response-failure').empty();
      $("#response-success");
    });

    // $('#invite-people-on-project').click(function(){
    //   var modalteam = document.getElementById('Project-Invite-Model');
    //   modalteam.style.display = "block";
    // });
    // var project_span_team= document.getElementById("inviteclose");
    // project_span_team.onclick = function() {
    //   modalteam.style.display = "none";
    // }
  } );
</script>

<%= render "tasks/banner" %>

<div class="project-detail-wrapper">
  <div class="project-tab-wrapper">
    <div class="row tabs-menu">
      <div class="col-lg-6 col-md-6 col-sm-6">
        <ul class="nav nav-pills nav-left">
          <li>
            <a href="javascript:void(0)" class="tablinks border-right-none" onclick="openTab(event, 'Plan')">Plan</a>
          </li>
          <li>
            <a href="javascript:void(0)" class="tablinks border-right-none" onclick="openTab(event, 'Tasks')">Tasks <span class="count">12</span></a>
          </li>
          <li>
            <a href="javascript:void(0)" class="tablinks" onclick="openTab(event, 'Team')">Team <span class="count">12</span></a>
          </li>
          <a href="javascript:void(0)" id="project_invite_btn" data-reveal-id="Project-Invite-Model" class="btn-invite border-link plan-show">
            Invite
          </a>
        </ul>
      </div>

      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="btn-wrapper plan-show">
          <div class="rank-group">
            <input type="hidden" id="stars" name="stars">
            <% for i in 1..5 %>
              <i class="fa fa-star" aria-hidden="true"></i>
            <% end %>
          </div>
        </div>
        <div class="btn-wrapper plan-show">
          <a href="javascript:void(0)" data-site="facebook" title="Share to Facebook" onclick="return SocialShareButton.share(this);" class="btn-share">
            <i class="fa fa-facebook"></i>&nbsp;&nbsp;Share
          </a>
        </div>
        <div class="btn-wrapper plan-show">
          <a href="javascript:void(0)" data-site="twitter" title="Share to Twitter" onclick="return SocialShareButton.share(this);" class="btn-share">
            <i class="fa fa-twitter"></i>&nbsp;&nbsp;Tweet
          </a>
        </div>
        <div class="btn-wrapper plan-show">
          <a href="javascript:void(0)" data-site="google_plus" onclick="return SocialShareButton.share(this);" title="Share to Google+" class="btn-share">
            <i class="fa fa-google-plus"></i>&nbsp;&nbsp;Share
          </a>
        </div>

        <div class="btn-wrapper pull-right plan-hide">
          <a href="javascript:void(0)" class="btn-visual">
            <i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;&nbsp;
            Save
          </a>
        </div>
        <div class="btn-wrapper pull-right plan-hide">
          <a href="javascript:void(0)" class="btn-visual">
            <i class="fa fa-eye" aria-hidden="true"></i>&nbsp;&nbsp;
            Visual Editor
          </a>
        </div>
      </div>

    </div>

    <div class="tabs-wrapper">
      <div id="Plan" class="tabcontent">
        <div class="content-details">
          <div class="row">
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
              <div class="row margin-none mb20">
                <div class="btn-wrapper pull-right">
                  <button type="button" class="btn-edit" id="editSource"><i class="fa fa-pencil" aria-hidden="true"></i>&nbsp;&nbsp;Edit</button>
                </div>
              </div>
              <div class="clearfix"></div>
              <div class="project-summary">
                <p>
                  Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam eras volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisi or aliquip ex ea commodo consequat.
                </p>
              </div>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
              <div class="tasks-summary">
                <div class="summary-header">
                  <strong>Tasks</strong>
                  <a href="javascript:void(0)" class="pull-right">View All</a>
                </div>

                <div id="tasks_cards">
                  <% @sourcing_tasks.first(5).each do  |task| %>
                    <div class="summary-cards">
                      <div class="card-wrapper">
                        <div class="card-title">
                          <p><%= task.description %></p>
                        </div>
                        <div class="row">
                          <div class="col-lg-9 col-md-9 col-sm-9 pt15">
                            <div class="progress">
                              <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="<%= task.funded %>;">
                              </div>
                            </div>
                            <div class="report-banner-table tab-task-report mt10">
                              <table>
                                <tr class="value">
                                  <td><%= task.funded %></td>
                                  <td><%=  @tasks_count %></td>
                                  <td><%= task.donations.count %></td>
                                  <td><%= task.funded_in_btc %></td>
                                </tr>
                                <tr class="items">
                                  <td>Funded</td>
                                  <td>Tasks</td>
                                  <td>Backers</td>
                                  <td>Raised</td>
                                </tr>
                              </table>
                            </div>
                          </div>
                          <div class="col-lg-3 col-md-3 col-sm-3">
                            <div class="fund-do-btns">
                              <a href="javascript:void(0)" title="DO" data-toggle="modal" data-target="#taskDoModal">
                                DO
                              </a>
                              <a href="javascript:void(0)" title="FUND" data-toggle="modal" data-target="#taskFundModal">
                                FUND
                              </a>
                            </div>
                          </div>
                        </div>

                      </div>
                    </div>
                  <% end %>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="Tasks" class="tabcontent">
        <div class="trello-board">
          <div class="trello-column">
            <div class="trello-section">
              <div class="section-header">
                <a href="javascript:void(0)">
                  Pending Approval
                </a>
              </div>

              <div class="section-content">
                <% @suggested_tasks.each do |task| %>
                  <%= link_to projects_show_task_path(id: task.id), remote: true do %>
                    <div class="trello-cards">
                      <div class="card-wrapper">

                        <div class="card-title">
                          <h5><%= task.title %></h5>
                          <p><%= task.description %></p>
                        </div>
                        <div class="comment-wrapper">
                          <span><i class="fa fa-comment-o" aria-hidden="true"></i>&nbsp;<%= task.task_comments.count %></span>
                          <span><i class="fa fa-paperclip" aria-hidden="true"></i>&nbsp;<%= task.task_attachments.count %></span>
                        </div>
                        <div class="progress">
                          <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: <%= task.funded %>">
                          </div>
                        </div>

                        <div class="card-report">
                          <table>
                            <tr class="value">
                              <td><%= task.funded %></td>
                              <td><%=  @tasks_count %></td>
                              <td><%= task.donations.count %></td>
                              <td><%= task.funded_in_btc %></td>
                            </tr>
                            <tr class="items">
                              <td>Funded</td>
                              <td>Tasks</td>
                              <td>Backers</td>
                              <td>Raised</td>
                            </tr>
                          </table>
                        </div>

                      </div>
                    </div>
                  <% end %>
                <% end %>
              </div>

              <div class="section-add-task">
                <a href="javascript:void(0)" data-no-turbolink="true" class=""><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;Suggest a Task</a>
              </div>
            </div>
          </div>

          <div class="trello-column">
            <div class="trello-section">
              <div class="section-header">
                <a href="javascript:void(0)">
                  Funding &amp; Sourcing
                </a>
              </div>

              <div class="section-content">
                <% @sourcing_tasks.each do |task| %>
                  <%= link_to projects_show_task_path(id: task.id), remote: true do %>
                    <div class="trello-cards">
                      <div class="card-wrapper">

                        <div class="card-title">
                          <h5><%= task.title %></h5>
                          <p><%= task.description %></p>
                        </div>
                        <div class="comment-wrapper">
                          <span><i class="fa fa-comment-o" aria-hidden="true"></i>&nbsp;<%= task.task_comments.count %></span>
                          <span><i class="fa fa-paperclip" aria-hidden="true"></i>&nbsp;<%= task.task_attachments.count %></span>
                        </div>
                        <div class="progress">
                          <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: <%= task.funded %>">
                          </div>
                        </div>

                        <div class="card-report">
                          <table>
                            <tr class="value">
                              <td><%= task.funded %></td>
                              <td><%=  @tasks_count %></td>
                              <td><%= task.donations.count %></td>
                              <td><%= task.funded_in_btc %></td>
                            </tr>
                            <tr class="items">
                              <td>Funded</td>
                              <td>Tasks</td>
                              <td>Backers</td>
                              <td>Raised</td>
                            </tr>
                          </table>
                        </div>

                        <div class="fund-do-btns">
                          <a href="javascript:void(0)" title="FUND" data-toggle="modal" class='fund-model-popup modal-link' id="<%= task.id %>" data-target="#taskFundModal">
                            FUND
                          </a>
                          <a href="javascript:void(0)" title="DO" data-toggle="modal" class='do-model-popup modal-link' id="<%= task.id %>" data-target="#taskDoModal">
                            DO
                          </a>
                        </div>

                      </div>
                    </div>
                  <% end %>
                <% end %>
              </div>

              <% if user_signed_in? %>
                  <% if @project.user_id == current_user.id %>
                      <div class="section-add-task">
                        <a href="<%= new_project_task_path(@project) %>" data-no-turbolink="true" class=""><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;Add a Task</a>
                      </div>
                  <% end %>
              <% end %>

            </div>
          </div>

          <div class="trello-column">
            <div class="trello-section">
              <div class="section-header">
                <a href="javascript:void(0)">
                  Doing
                </a>
              </div>

              <div class="section-content">
                <% @doing_tasks.each do |task| %>
                  <%= link_to projects_show_task_path(id: task.id), remote: true do %>
                    <div class="trello-cards">
                      <div class="card-wrapper">

                        <div class="card-title">
                          <h5><%= task.title %></h5>
                          <p><%= task.description %></p>
                        </div>
                        <div class="comment-wrapper">
                          <span><i class="fa fa-comment-o" aria-hidden="true"></i>&nbsp;<%= task.task_comments.count %></span>
                          <span><i class="fa fa-paperclip" aria-hidden="true"></i>&nbsp;<%= task.task_attachments.count %></span>
                        </div>
                        <div class="progress">
                          <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: <%= task.funded %>">
                          </div>
                        </div>

                        <div class="card-report">
                          <table>
                            <tr class="value">
                              <td><%= task.funded %></td>
                              <td><%=  @tasks_count %></td>
                              <td><%= task.donations.count %></td>
                              <td><%= task.funded_in_btc %></td>
                            </tr>
                            <tr class="items">
                              <td>Funded</td>
                              <td>Tasks</td>
                              <td>Backers</td>
                              <td>Raised</td>
                            </tr>
                          </table>
                        </div>

                        <% if user_signed_in? %>
                            <% if @project.user_id == current_user.id %>
                                <%= link_to reviewing_task_path(task.id) do %>
                                    <button onClick="window.location.reload()">
                                      <i class="fa fa-arrow-right" aria-hidden="true"></i> Submit Task for Review
                                    </button>
                                <% end %>
                            <% end %>
                        <% end %>

                      </div>
                    </div>
                  <%end %>
                <% end %>
              </div>

            </div>
          </div>

          <div class="trello-column">
            <div class="trello-section">
              <div class="section-header">
                <a href="javascript:void(0)">
                  Reviewing
                </a>
              </div>

              <div class="section-content">
                <% @reviewing_tasks.each do |task| %>
                  <%= link_to projects_show_task_path(id: task.id), remote: true do %>
                    <div class="trello-cards">
                      <div class="card-wrapper">

                        <div class="card-title">
                          <h5><%= task.title %></h5>
                          <p><%= task.description %></p>
                        </div>
                        <div class="comment-wrapper">
                          <span><i class="fa fa-comment-o" aria-hidden="true"></i>&nbsp;<%= task.task_comments.count %></span>
                          <span><i class="fa fa-paperclip" aria-hidden="true"></i>&nbsp;<%= task.task_attachments.count %></span>
                        </div>
                        <div class="progress">
                          <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: <%= task.funded %>">
                          </div>
                        </div>

                        <div class="card-report">
                          <table>
                            <tr class="value">
                              <td><%= task.funded %></td>
                              <td><%=  @tasks_count %></td>
                              <td><%= task.donations.count %></td>
                              <td><%= task.funded_in_btc %></td>
                            </tr>
                            <tr class="items">
                              <td>Funded</td>
                              <td>Tasks</td>
                              <td>Backers</td>
                              <td>Raised</td>
                            </tr>
                          </table>
                        </div>

                        <% if user_signed_in? %>

                            <% if @project.user_id == current_user.id %>
                                <div style="margin-top: 1%">
                                  <%= link_to completed_task_path(task.id) do %>
                                      <button>
                                        <i class="fa fa-check" aria-hidden="true"></i>Task Completed
                                      </button>
                                  <% end %>
                                </div>
                            <% end %>
                        <% end %>

                      </div>
                    </div>
                  <% end %>
                <% end %>
              </div>

            </div>
          </div>

          <div class="trello-column">
            <div class="trello-section">
              <div class="section-header">
                <a href="javascript:void(0)">
                  Done
                </a>
              </div>

              <div class="section-content">
                <% @done_tasks.each do |task| %>
                  <%= link_to projects_show_task_path(id: task.id), remote: true do %>
                    <div class="trello-cards">
                      <div class="card-wrapper">

                        <div class="card-title">
                          <h5><%= task.title %></h5>
                          <p><%= task.description %></p>
                        </div>
                        <div class="comment-wrapper">
                          <span><i class="fa fa-comment-o" aria-hidden="true"></i>&nbsp;<%= task.task_comments.count %></span>
                          <span><i class="fa fa-paperclip" aria-hidden="true"></i>&nbsp;<%= task.task_attachments.count %></span>
                        </div>
                        <div class="progress">
                          <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: <%= task.funded %>">
                          </div>
                        </div>

                        <div class="card-report">
                          <table>
                            <tr class="value">
                              <td><%= task.funded %></td>
                              <td><%=  @tasks_count %></td>
                              <td><%= task.donations.count %></td>
                              <td><%= task.funded_in_btc %></td>
                            </tr>
                            <tr class="items">
                              <td>Funded</td>
                              <td>Tasks</td>
                              <td>Backers</td>
                              <td>Raised</td>
                            </tr>
                          </table>
                        </div>

                      </div>
                    </div>
                  <% end %>
                <% end %>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div id="Team" class="tabcontent">
        <div class="row">
          <%= render "projects/tabcontent/team" %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render "projects/source_edit" %>

<%= render "modal/edit_project_modal" %>
<%= render "modal/task_fund_modal" %>
<%= render "modal/task_do_modal" %>

<script type="text/javascript">

    function openTab(evt, tabName) {
      var i, tabcontent, tablinks;
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
      }
      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
      }
      document.getElementById(tabName).style.display = "block";
      evt.currentTarget.className += " active";

      $('#sourceEditor').hide();
      $('.plan-hide').hide();
      $('.plan-show').show();
    }

    $(function(){
      $('#tasks_cards').slimScroll({
        height: '500px'
      });
      $('[data-toggle="tooltip"]').tooltip();
      $('.nav-pills').find('li:first-child a').click();
    });

    $('#editSource').click(function(){
      $('#Plan').hide();
      $('#sourceEditor').show();
      $('.plan-hide').show();
      $('.plan-show').hide();
    });

    $('.do-model-popup').click(function(){
      $('#task-do-request-popup').val($(this).attr('id'));
    });
</script>
