<header>
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name logo ">
        <h1><a href="/" data-no-turbolink="true"><img src="/static/users/img/logo.png" alt="logo"></a></h1>
      </li>
       <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>
    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
       <li class="has-dropdown ">
        <a href="/notifications" class="no-line-height" data-no-turbolink="true">
          <div class="badge-wrap">
            <i class="icon-bell-alt" aria-hidden="true"></i>
            <span class="count">3</span>
          </div>
        </a>
        <ul class="dropdown">
          <li><a href="#">First link in dropdown</a></li>
          <li class="active"><a href="#">Active link in dropdown</a></li>
        </ul>
        </li>
         <li class="has-dropdown">
          <a href="#"><img src="/static/users/img/profilepic.png" alt="logo"></a>
          <ul class="dropdown">
            <li><a href="#">First link in dropdown</a></li>
            <li class="active"><a href="#">Active link in dropdown</a></li>
            <% if user_signed_in? %>
              <li><%= link_to 'Dashboard', dashboard_path, class: "active", data: { no_turbolink: true } %></li>
              <li><%= link_to current_user.name.split(" ")[0], current_user, class: "active", data: { no_turbolink: true } %></li>
              <li><%= link_to 'Sign out', destroy_user_session_path, :method=>'delete', class: "active", data: { no_turbolink: true } %></li>
            <% else %>
              <li><%= link_to 'Sign in', new_user_session_path, data: { no_turbolink: true } %></li>
              <li><%= link_to 'Sign up', new_user_registration_path, class: "sign-up-nav", data: { no_turbolink: true } %></li>
            <%end%>

          </ul>
        </li>
      </ul>
      <!-- Left Nav Section -->
      <ul class="left">

        <li class="active"> <a href="#" id="startbtn" data-no-turbolink="false">Start a project</a></li>
        <li class="active"><%= link_to 'Active Projects', projects_path,  data: { no_turbolink: true }  %></li>

        <!-- USER DIRECTORY -->
        <% if user_signed_in? %>
          <% if current_user.admin? %>
            <li class="active"><%= link_to 'Directory', users_path, data: { no_turbolink: true }  %></li>
          <%end%>
        <%end%>
      </ul>
    </section>
  </nav>
</header>
<div id="start-new-project-popup" class="modal">

  <!-- Modal content -->
  <div class="modal-content2" style="width: 60%">
    <!--<span class="closeinvite">×</span>-->
    <button type="button" class="close" data-dismiss="modal" id="close-project-popup" style="background-color:white">&#10006</button>
    <div class="modal-header">
      <h4 class="modal-title">Start New Project</h4>
    </div>
    <div class="modal-body">
      <div id="project-status" class="alert alert-danger">
      </div>
      <%= simple_form_for(Project.new ,html: { id: 'project-form', multipart: true }) do |f| %>
          <%= f.error_notification %>
          <div class="form-group">
            <%= f.label :title%>
            <%= f.text_field :title, class: 'form-control', required: 'true' %>
          </div>

          <div class="form-group">
            <%= f.label :short_description, "Short description for Project"%>
            <%= f.text_area :short_description,size: "15x5",  class: 'form-control', required: 'true'%>
          </div>
          </div>
          <div class="modal-footer">
            <div class="form-actions" style="float: right; margin-right: 1% ">
              <%= f.button :submit, class: "btn-lg radius" %>
            </div>
          </div>
      <% end %>
      </div>
</div>

<div id="social-invite-popup" class="modal">

 <div class="modal-content2" style="width: 60%">
    <button type="button" class="close" data-dismiss="modal" id="close-social-invite-popup" style="background-color:white">&#10006</button>
    <div class="modal-header">
      <h4 class="modal-title">Social invite</h4>
    </div>
    <div class="modal-body">
      <div id="project-status" class="alert alert-danger">
      </div>
    </div>
  </div>

</div>

<script>
  // Get the modal
  var modalteam = document.getElementById('start-new-project-popup');

  // Get the button that opens the modal
  var btnteam = document.getElementById("startbtn");
  var btnteam1 = document.getElementById("footer-startbtn");

  // Get the <span> element that closes the modal
  var spanteam = document.getElementById("close-project-popup");

  // When the user clicks the button, open the modal
  btnteam.onclick = function() {
    modalteam.style.display = "block";
  }
  btnteam1.onclick = function() {
    modalteam.style.display = "block";
  }

  // When the user clicks on <span> (x), close the modal
  spanteam.onclick = function() {
    modalteam.style.display = "none";
  }

  // close Social invite Popup
  var social_invite_modalteam = document.getElementById('social-invite-popup');

  // Get the <span> element that closes the modal
  var social_invite_spanteam = document.getElementById("close-social-invite-popup");

  // When the user clicks on <span> (x), close the modal
  social_invite_spanteam.onclick = function() {
    social_invite_modalteam.style.display = "none";
  }

</script>

<style>


  html{
    font-size: 16px !important;
  }
</style>
<script>

  $( document ).ready(function() {
    $(document).keydown(function(e) {
      // ESCAPE key pressed
      if (e.keyCode == 27) {
        $("#social_invite_popup  #start-new-project-popup").hide();
      }
    });

    $('html body').css({'font-size':'16px !important'});
    $('#project-status').hide();

    $('form').submit(function() {
      $('#project-status').html('');
      $('#project-status').hide();

      var valuesToSubmit = $(this).serialize();
      $.ajax({
        url:  $(this).attr('action'),
        type: "POST", //send it through get method
        data:valuesToSubmit,
        dataType: "JSON",
        success: function(json) {
          console.log("success", json);
          $('#project-status').html("");
          $('#project-status').show();
          $('#project-status').html(json);
          return false;
        },
        error: function(xhr) {
          $('#project-status').html("");
          $('#project-status').show();
          $('#project-status').html('Project has been created Successsfully');
          ////    Close previous popup
          var close_new_projecT_popup = document.getElementById('start-new-project-popup');
          close_new_projecT_popup.style.display = "none";


          var modalteam = document.getElementById('social-invite-popup');
          modalteam.style.display = "block";

          return false;
        }

      });

      return false; });

  });
</script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
