<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "WeServe" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "YouServe" %>">

    <%= stylesheet_link_tag 'application', media: 'all' %>

    <%= javascript_include_tag 'vendor/modernizr' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>

    <%= yield :customhead %>
  </head>

  <body <%= landing_class %>>
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '1204824659546785',
          xfbml      : true,
          version    : 'v2.5'
        });
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>

    <div class="page-wrapper">

      <%= render 'layouts/menu' %>
      <%= render 'layouts/messages' %>

      <%= yield %>

      <%= render "modal/register_modal" %>
      <%= render "modal/start_project_modal" %>

    </div>

    <%= render 'layouts/footer' %>

    <script type="text/javascript">
      $('#sign_in_a ,#sign_in_nav').click(function() {
        $('.sign_up_show').hide();
        $('.sign_in_show').show();
      });

      $('#sign_up_a, #sign_up_nav, #create_project_a').click(function() {
        $('.sign_in_show').hide();
        $('.sign_up_show').show();
      });
    </script>

  </body>
</html>
